/* Coolors Exported Palette - coolors.co/b26e15-d4a701-000000-b38c00-f7c200 */

/* HSL */
$color1: hsla(34%, 79%, 39%, 1);
$color2: hsla(47%, 99%, 42%, 1);
$color3: hsla(0%, 0%, 0%, 1);
$color4: hsla(47%, 100%, 35%, 1);
$color5: hsla(47%, 100%, 48%, 1);

/* RGB */
$color1: rgba(178, 110, 21, 1);
$color2: rgba(212, 167, 1, 1);
$color3: rgba(0, 0, 0, 1);
$color4: rgba(179, 140, 0, 1);
$color5: rgba(247, 194, 0, 1);